{% args work, cool %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESPlorer</title>
    <link rel="stylesheet" href="static/css/index.css" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="device">
                <div class="device__header">
                    Управление электрокамином
                </div>
                <div class="device__body">
                    <div class="left-buttons">
                        <div class="toggle-div">
                            <p class="label">Вкл/выкл</p>
                            <input type="checkbox" id="power" onclick="workSwitch()" {% if work == 1 %} checked {% endif %}/>
                            <label for="power">Toggle Power</label>
                        </div>
                        
                    
                        <button class="btns" id="soundp" onclick="soundInc()">
                            Звук+
                        </button>
                        <button class="btns" id="brightp" onclick="brightInc()">
                            Яркость+
                        </button>
                    </div>
                    
                        <br>Volume: </br>
                        <p id="volume">0</p>
                        <br>
                        <br>Brightness: </br>
                        <p id="brightness">0</p>
                        
                        
                    <div class="right-buttons">
                        <div class="toggle-div">
                            <p class="label">Кулер</p>
                            <input type="checkbox" id="cooler" onclick="coolerSwitch()" {% if cool == 1 %} checked {% endif %}/>
                            <label for="cooler">Toggle Cooler</label>
                        </div>
                        <button class="btns" id="soundm" onclick="soundDecr()">
                            Звук-
                        </button>
                        <button class="btns" id="brightn" onclick="brightDecr()">
                            Яркость-
                        </button>
                    </div>
                </div>
                
                <div class="device__circles">
                    <button class="device__circles-1" onclick="yellow()">
                    </button>
                    <button class="device__circles-2" onclick="blue()">
                    </button>
                    <button class="device__circles-3" onclick="red()">
                    </button>
                    <button class="device__circles-4" onclick="orange()">
                    </button>
                    <button class="device__circles-5" onclick="green()">
                    </button>
                </div>
                <div class="device__footer">
                    LLC "ELECTRONIC DEVICES", UZBEKISTAN
                </div>
            </div>
        </div>
    </div>
    
    <script src="static/js/index.js"></script>
</body>
</html>
